{% extends 'base.html' %}
{% block main %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2>修改数据</h2>
    <form action="" method="post">


<table style="margin-top: 10px;width: 500px" class="table table-bordered">
            <tr>
                <td style="width: 200px"><b>编号</b></td>
                <td><input type="text" name="number" value="{{ cofext.number }}" placeholder="编号"></td>

            </tr>
            <tr>
                <td><b>连接方式</b></td>
                <td>{{ cofext.cof.connection }}</td>

            </tr>
            <tr>
                <td><b>理论维度</b></td>
                <td>{{ cofext.cof.dimension }}</td>

            </tr>
            {% for danti in cofext.danti_set.all %}
                 <tr>
                <td><b>单体(mmol)</b></td>
                <td><input type="text" name="danti" value="{{ danti.danti }}" placeholder="单体(mmol)"></td>
            </tr>
            <tr>
                <td><b>单体名称</b></td>
                <td><input type="text" name="danti_name" value="{{ danti.name }}" placeholder="单体名称"></td>
            </tr>
            <tr id="danti">
                <td><b>单体结构</b></td>
                <td><input type="text" name="danti_structure" value="{{ danti.structure }}" placeholder="单体结构"></td>

            </tr>
            {% endfor %}
            {% for rongji in cofext.rongji_set.all %}
                <tr>
                <td><b>溶剂名称</b></td>
                <td><input type="text" name="rongji_name" value="{{ rongji.name }}" placeholder="溶剂名称"></td>
            </tr>
             <tr id="rongji">
                <td><b>溶剂(ml)</b></td>
                 <td><input type="text" name="rongji_ml" value="{{ rongji.rongjiml }}" placeholder="溶剂(ml)"></td>

            </tr>
            {% endfor %}


             <tr>
                <td><b>AcOH浓度</b></td>
                 <td><input type="text" name="acohnongdu" value="{{ cofext.acohnongdu }}" placeholder="AcOH浓度"></td>
            </tr>
             <tr id="cuihuaji">
                <td><b>AcOH量(ml)</b></td>
                <td><input type="text" name="acohliang" value="{{ cofext.acohliang }}" placeholder="AcOH量(ml)"></td>

            </tr>
             <tr>
                <td><b>温度(℃)</b></td>
                <td><input type="text" name="temperature" value="{{ cofext.temperature }}" placeholder="温度(℃)"></td>
            </tr>
             <tr>
                <td><b>时间(h)</b></td>
                <td><input type="text" name="time" value="{{ cofext.time }}" placeholder="时间(h)"></td>
            </tr>
             <tr>
                <td><b>是否有固体</b></td>
              <td>
                  <select style="width: 60px" name="is_solid" id="">
                      <option value="1" {% if cofext.is_solid == 1 %}selected{% endif %}>是</option>
                      <option value="0" {% if cofext.is_solid == 0 %}selected{% endif %}>否</option>
                  </select>
              </td>
            </tr>
            <tr>
                <td><b>是否有晶体</b></td>
               <td>
                   <select style="width: 60px" name="is_crystal" id="">
                      <option value="1"{% if cofext.is_crystal == 1 %}selected{% endif %}>是</option>
                      <option value="0"{% if cofext.is_crystal == 0 %}selected{% endif %}>否</option>
                  </select>
               </td>
            </tr>
            <tr>
                <td><b>PXRD主峰高度</b></td>
                <td><input type="text" name="pxrd" value="{{ cofext.pxrd }}" placeholder="PXRD主峰高度"></td>

            </tr>
            <tr>
                <td><b>ssnmr半峰宽(PPM)</b></td>
                    <td><input type="text" name="ssnmr" value="{{ cofext.ssnmr }}" placeholder="ssnmr半峰宽(PPM)"></td>
            </tr>
            <tr>
                <td><b>HP129Xe位移(PPM)</b></td>
                    <td><input type="text" name="hp129" value="{{ cofext.hp129 }}" placeholder="HP129Xe位移(PPM)"></td>
            </tr>
            <tr>
                <td><b>封管129Xe位移(PPM)</b></td>
                <td><input type="text" name="fengguan129" value="{{ cofext.fengguan129 }}" placeholder="封管129Xe位移(PPM)"></td>
            </tr>
            <tr>
                <td><b>孔径大小(nm)</b></td>
                <td><input type="text" name="kongjing" value="{{ cofext.kongjing }}" placeholder="孔径大小(nm)"></td>
            </tr>
            <tr>
                <td><b>BET比表面积</b></td>
                <td><input type="text" name="bet" value="{{ cofext.bet }}" placeholder="BET比表面积"></td>
            </tr>
            <tr>
                <td><b>理论结构图</b></td>
                  <td><input type="file" enctype="multipart/form-data" name="graph" placeholder="理论结构图"></td>
            </tr>
            <tr>
                <td><b>结构CIF</b></td>
                  <td><input type="file" enctype="multipart/form-data" name="cif" placeholder="结构CIF"></td>
            </tr>
            <tr>
                <td><b>PXRD图</b></td>
                <td><input type="file" enctype="multipart/form-data" name="graphpxrd" placeholder="PXRD图"></td>
            </tr>
            <tr>
                <td><b>其他文件</b></td>
                <td>
                   <input type="file" enctype="multipart/form-data" name="other" placeholder="ssnmr半峰宽(PPM)"></td>
            </tr>
            <tr>
                <td><b>备注</b></td>
                <td><input type="other" name="remark" value="{{ cofext.remark }}" placeholder="备注"></td>
            </tr>

        </table>

    <button type="submit" style="margin-left: 400px" class="btn btn-primary">提交</button>
    <a type="button" href="{% url 'cof_detail' cof_id=cofext.cof.id %}" style="margin-left: -120px" class="btn btn-danger">返回</a>
</form>
</div>
{% endblock %}


{% block script %}

{% endblock %}